/* 根节点样式 */
.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f4f4f4;
    -fx-text-fill: black; /* 除日志外文字黑色 */
}

/* 树视图样式 */
.tree-view {
    -fx-background-color: white;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5px;
    -fx-text-fill: black; /* 树视图文字黑色 */
}

/* 日志面板样式 */
.log-pane {
    -fx-background-color: white;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5px;
}

/* 按钮样式：绿色圆角 */
.action-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white; /* 按钮文字黑色 */
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

/* 按钮悬停样式 */
.action-button:hover {
    -fx-background-color: #45a049;
}

/* 标签样式 */
.label {
    -fx-text-fill: black; /* 标签文字黑色 */
}

/* 输入框样式 */
.text-field, .combo-box {
    -fx-text-fill: black; /* 输入框和下拉框文字黑色 */
}

/* 日志字体：Courier New，背景黑色，普通文字黑色 */
.log-area, .text {
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-fill: black; /* 普通日志文字黑色 */
}

/* 日志高亮：黄色背景，文字白色 */
.highlight {
    -fx-background-color: white;
    -fx-fill: red; /* 高亮文字白色 */
    -fx-font-family: "Courier New";
    -fx-font-size: 20px;
}

/* 加载中提示样式 */
.loading-text {
    -fx-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
}